.place__website_url-heading {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: #AAAAAA;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    margin-bottom: 1em;

    letter-spacing: 2px;
}

@media screen and (min-width:320px) {
    .place__website_url-heading {
        line-height: 12px;
    }

}

@media screen and (min-width:1024px) {
    .place__website_url-heading {
        line-height: 20px;
    }
}