.place {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    display: grid;
}

@media screen and (min-width:320px) {
    .place {
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr; */
        row-gap: 32px;
        column-gap: 0px;
    }
}

@media screen and (min-width:768px) {
    .place {
        grid-template-columns: 47.222% 48.889%;
        grid-template-rows: min-content min-content;
        column-gap: 3.89%;
        row-gap: 48px;
        column-gap: 28px;
    }
}

@media screen and (min-width:1024px) {
    .place {
        grid-template-rows: max-content 440px;
        grid-template-columns: 47.413% 49.137%;
        column-gap: 32px;
    }
}

@media screen and (min-width:1280px) {
    .place {
        grid-template-columns: 1fr 49.18%;
        grid-template-rows: min-content 460px;
        column-gap: 40px;

    }
}