.header__items {
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    gap: 18px;
    list-style-type: none;
    align-self: center;
}

/* 
display: flex;
align-items: center;
list-style-type: none; */